@mixin font-face($style-name, $weight:normal, $style:normal) {
  $filepath: "fonts/" + $style-name;
  @font-face {
    font-family: quote($style-name);
    //src: url($filepath + ".eot");
    src: url($filepath + ".ttf")  format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}

//  example->    @include font-face('PFDinTextPro', 'PFDinTextPro-Bold', 700, italic);
