@include font-face('Montserrat');
@include font-face('Montserrat - Black');
@include font-face('Montserrat - Semi Bold');
@include font-face('Montserrat - Extra Bold');
@include font-face('ProximaNova-LightIt');
@include font-face('Proxima Nova');
@include font-face('Proxima Nova - Semibold');
@include font-face('Proxima Nova - Extrabld');


*{
  padding: 0;
  margin: 0;
}
body{
  font-family:'Montserrat';
  //overflow-x: hidden;

  &.active{
    overflow-y: hidden;
  }
}
ul{
  margin: 0;
  padding: 0;
}

.page-title{
  color: #222222;
  font-size: 36px;
  font-family: 'Montserrat';
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.wrapper{
  overflow: hidden;
  width: 100% ;
  background: #fff;
  margin: auto;
  //max-width: 1920px;
  max-width: 100%;
  transform: translate(0px, 0px);
  transition-duration: 300ms;
  &:after{
    display: none;
    content: '';
    z-index: 25;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &.active{
    transform: translate(350px, 0px);
    overflow-x: hidden;
    &:after{
      display: block;
    }
  }
}

.line-27{
  margin: auto;
  width: 27px;
  height: 14px;
  background-color: #be1024;
}
.line-20{
  margin: auto;
  width: 20px;
  height: 8px;
  background-color: #be1024;
}
.container-content{
  width: 100%;
  //max-width: 1360px;
  max-width: 1211px;
  margin: auto;
}

.container-full{
  width: 100%;
  max-width: 1600px;
  margin: auto;
  padding: 0 30px;
}

.container-1360{
  width: 100%;
  max-width: 1360px;
  margin: auto;
}

.container-1470{
  width: 100%;
  max-width: 1530px;
  margin: auto;
  padding: 0 30px;
}

.panel-menu{
  background: #fff;
  position: absolute;
  height: 100%;
  width: 350px;
  z-index: 999999999;
  left: -455px;
  overflow-y: auto;
  transition: all .3s ease;
  &.active{
    left: 0px;
  }
  &-top{
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
  }
  &-close{
    position: absolute;
    top: 9px;
    right: 9px;
    cursor: pointer;
    i{
      font-size: 24px;
      font-weight: bold;
      transition: opacity .3s ease;
      &:before{
        color: #000;

      }
    }
    &:hover i{
      opacity: .45;
    }
  }
  &-title{
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
  }
  &-list{
    ul{
      list-style: none;
      li{
        font-size: 18px;
        a{
          text-decoration: none;
          padding: 10px 0 10px 40px;
          display: block;
          color: #000;
          background-color: transparent;
          transition: background-color .3s ease;
          &:hover{
            background-color: #ebeced;
          }
        }
      }
    }
  }
}

.header{
  z-index: 10;
  width: 100%;
  padding: 0 22px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(10, 17, 40, 0.3);
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &-navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    &-btn{
      cursor: pointer;
      margin-right: 56px;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      i{
        font-size: 21px;
        &:before{
          transition: color .3s ease;
        }
        &:hover:before{
          color: #000;
        }
      }
    }
    &-menu{
      li{
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.3px;
        margin-right: 40px;
        a{
          color: #ffffff;
          transition: color .3s ease;
          text-decoration: none;
          &:hover{
            color: #000;
          }
        }
      }
    }
  }
  &-options{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &-call_back{
      color: #fff;
      font-family: 'Montserrat - Semi Bold';
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 40px;
      font-size: 14px;
      font-weight: 400;
      i{
        font-size: 12px;
        margin-right: 20px;
        &:before{
          transition: color .3s ease;
        }
      }
      p{
        transition: color .3s ease;
        margin: 0;
      }
      &:hover{
        p{
          color: #000;
        }
        i:before{
          color:#000;
        }
      }
    }
    &-language{
      li{
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        font-family: "Proxima Nova";
        a{
          color: rgba(255, 255, 255, 0.51);
          text-decoration: none;
          transition: color .3s ease;
          &:hover{
            color: #000;
          }
        }
        &.active{
          a{
            color: #fff;
            &:hover{
              color: #fff;
            }
          }

        }
        &:first-child{
          &:after{
            content: " /";
            color: #fff;
            padding: 0 10px;
          }
        }
      }
    }
  }
  &-info{
    position: absolute;
    top: 57px;
    right: 20px;
    background-color: rgba(10, 17, 40, 0.31);
    width: 208px;
  }
  &-phone{
    padding-left: 18px;
    padding: 14px 0 14px 18px;
    font-size: 22px;
    font-weight: 500;
    p{
      line-height: 1;
      &:last-child{
        margin: 0;
      }
    }
    a{
      color: #ffffff;
      text-decoration: none;
      font-size: 24px;
      font-weight: 500;
      transition: color .3s ease;
      span{
        font-size: 18px;
        font-weight: 300;
      }
      &:hover{
        color: #000;
      }
    }
  }
  &-application{
    height: 40px;
    background-color: rgba(190, 16, 36, 0.76);
    transition: background-color .3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    &:hover{
      background-color: rgba(255, 255, 255, 0.27);
    }
    p{
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      margin: 0 0 0 21px;
    }
  }
  &-logo{
    position: absolute;
    left: 20px;
    top: 50px;
  }
}

.home-slider{
  width: 100%;
  position: relative;
  .slick-dotted.slick-slider{
    margin-bottom: 0;
  }
  .one-sliders{
    .slick-dots{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 27px;
      width: auto;
      height: max-content;
      li{
        background-color: #fff;
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin: 44px 0;
        position: relative;
        button{
          opacity: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          position: absolute;
        }
        &:after{
          content: '';
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          position: absolute;
          width: 21px;
          height: 21px;
          border-radius: 50%;
          border: 1px solid #fff;
        }
        &.slick-active{
          &:after{
            width: 27px;
            height: 27px;
          }
        }
      }
    }
  }
  .one-slider{
    position: relative;
    .container-content{
      top: 50%;
      left: 50%;
      height: 100%;
      transform: translate(-50%,-50%);
      position: absolute;
    }
    &-img{
      width: 100%;
      height: 100%;
      &:after{
        width: 100%;
        height: 100%;
        background-size: cover;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background-image: url(../img/line-header.png);
      }
      span{
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: rgba(11, 11, 15, 0.27);
      }
      img{
        width: 100%;
      }
    }
    &-info{
      top: 255px;
      left: 0px;
      position: absolute;
      .page-title{
        color: #f8faff;
        font-family: 'Montserrat';
        font-size: 36px;
        width: max-content;
        text-align: left;
        font-weight: 700;
        position: relative;
        i{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -87px;
        }
      }
      p{
        max-width: 885px;
        height: 61px;
        color: #ffffff;
        font-family: "Proxima Nova - Semibold";
        font-size: 14px;
        font-weight: 400;
        padding-left: 4px;
        line-height: 24px;
        margin-bottom: 36px;
      }
      a{
        display: block;
        color: #ffffff;
        font-family: "Montserrat - Semi Bold";
        font-size: 12px;
        font-weight: 400;
        line-height: 30px;
        text-transform: uppercase;
        padding-left: 59px;
        position: relative;
        span{
          width: 36px;
          height: 36px;
          position: absolute;
          border-radius: 50%;
          left: 3px;
          top: 50%;
          transform: translateY(-50%);
          background-color: #fff;
          svg{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
          }
          &:after{
            content: '';
            width: 45px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            height: 45px;
            border-radius: 50%;
            border: 1px solid #fff;
          }
        }
      }
    }
  }
  .one-sliders-num{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 104px;
    height: 53px;
    background-color: rgba(255, 255, 255, 0.64);
    color: #fff;
    p{
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      transform: translateY(-50%);
      text-shadow: 5px 8px 90px rgba(102, 102, 102, 0.97);
      color: #ffffff;
      font-family: 'Montserrat';
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      span{
        font-family: "Montserrat - Black";
        font-size: 16px;
        font-weight: 900;
        display: inline-block;
      }
    }
  }
}

.main-menu{
  z-index: 20;
  position: relative;
  width: 100%;
  height: 140px;
  max-width: 1211px;
  margin: -70px auto 54px;
  background-color: #fff;
  ul{
    list-style: none;
    box-shadow: 5px 8px 90px rgba(228, 228, 228, 0.76);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  li{
    text-align: center;
    height: 100%;
    width: 14.285714286%;
    border-right: 1px solid #e4e4e4;
    position: relative;
    &.active{
      a{
        background-color: #2d2d2d;
        color: #ffffff;
        font-weight: 700;
        i:before{
          color: #fff;
        }
      }

    }
    i{
      position: absolute;
      bottom: 68px;
      left: 50%;
      transform: translateX(-50%);
      &:before{transition: color .3s ease;
        color: #9c9c9c;
      }
    }
    &:last-child{
      border: 0;
    }
    a{
      padding-top: 90px;
      display: block;
      text-decoration: none;
      color: #222222;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      width: 100%;
      height: 100%;
      transition: all .3s ease;
      background-color: #fff;
      &:hover{
        background-color: #2d2d2d;
        color: #ffffff;
        font-weight: 700;
        i:before{
          color: #fff;
        }
      }
    }
    &:hover .main-menu-dop{
      display: flex!important;
    }
  }
  &-dop{
    display: none!important;
    width: 1459px;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    border-top: 3px solid #2d2d2d;
    width: 1459px;
    height: auto!important;
    box-shadow: 0 1px 47px 12px rgba(243, 244, 247, 0.49);
    background-color: #ffffff;
    flex-wrap: wrap!important;
    justify-content: center!important;
    align-items: center!important;
    flex-direction: row!important;
    padding: 23px 15px;
    li{
      width: auto!important;
      height: auto!important;
      border: 0!important;
      margin: 7px 9px ;
      a{
        color: #222222!important;
        font-family: "Montserrat - Semi Bold";
        font-size: 12px;
        font-weight: 400;
        background-color: #f3f4f7!important;
        line-height: 18px;
        position: relative;
        width: 185px;
        height: 85px;
        padding: 0;
        background-color: transparent;
        padding-top: 40px!important;
        overflow: hidden;
        i{
          position: absolute;
          top: 6px;
          transition: all .3s ease;
          &.icon-dop-hover{
            opacity: 0;
            width: 28px;
            img{
              width: 100%;
            }
          }
          &.icon-dop-normal{
            opacity: 1;
            width: 28px;
            img{
              width: 100%;
            }
          }
          &:before{
            color: #222222!important;
          }
        }
        span{

        }
        &:hover{
          background-color: #2d2d2d!important;
          color: #fff!important;
          i{
            &.icon-dop-hover{
              opacity: 1;
            }
            &.icon-dop-normal{
              opacity: 0;
            }
          }
          i:before{
            color: #fff!important;
          }
        }
      }
    }
  }
}

.find-cost{
  position: relative;
  margin-bottom: 52px;
  min-height: 265px;
  &.form-back{
    .find-cost-lvl.form-lvl-1{
      transition-delay: .3s;
      z-index: 8;
    }
    .find-cost-lvl.form-lvl-2{
      transition-delay: .6s;
      z-index: 7;
    }
    .find-cost-lvl.form-lvl-3{
      z-index: 6;
      transition-delay: .9s;
    }
    .find-cost-form{
      transition-delay: 0s;
    }
  }
  .container-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &-back{
    cursor: pointer;
    &:hover:before {
      background-color: rgba(0,0,0,.35);
    }
  }
  &-main{
    cursor: pointer;
    overflow: hidden;
    width: 318px;
    z-index: 11;
    height: 265px;
    box-shadow: 6px -7px 90px rgba(65, 65, 65, 0.09);
    background-color: #ffffff;
    position: relative;
    padding: 62px  0 0 40px;
    &.active{
      .line-27,p{
        opacity: 0;
      }
      &:after{
        content: '<< Вернуться';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        z-index: 11;
        color: #222222;
        font-weight: bold;
        animation: active-after 1footer-bgs infinite cubic-bezier(.46,.01,.49,.99) alternate;
      }
    }

    &.no-active{
      //width: 276px;
      //height: 211px;
      //p{
      //  font-size: 20px;
      //  line-height: 25px;
      //}
    }
    .line-27{
      margin: 0 0 22px;
      z-index: 5;
      position: relative;
    }
    p{
      color: #222222;
      font-family: 'Montserrat';
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      z-index: 5;
      position: relative;
    }
    .question-1{
      display: block;
      position: absolute;
      background-image: url(../img/find-cost-why-1.png);
      background-size: contain;
      width: 50px;
      height: 65px;
      top: 11px;
      right: 199px;
    }
    .question-2{
      display: block;
      position: absolute;
      background-image: url(../img/find-cost-why-2.png);
      background-size: contain;
      width: 139px;
      height: 179px;
      top: 52px;
      right: 44px;
    }
  }
  &-lvl{
    padding-left: 42px;
    width: 276px;
    height: 211px;
    box-shadow: 5px 8px 90px rgba(102, 102, 102, 0.21);
    background-color: #fafafa;
    position: relative;
    padding-top: 54px;
    opacity: 1;
    transition: all .3s ease;

    //display: none;
    &.form-lvl-1{
      transition-delay: .6s;
      z-index: 8;
    }
    &.form-lvl-2{
      transition-delay: .3s;
      z-index: 7;
    }
    &.form-lvl-3{
      z-index: 6;
    }
    &:after{
      width: 15px;
      height: 17px;
      content: '';
      top: 50%;
      left: -2px;
      transform: translateY(-50%);
      position: absolute;
      background-image: url(../img/find-cost-arrow.svg);
    }
    &:before{
      transition: background-color .3s ease;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }
    &.active{
      .find-cost-lvl-back{
        display: block;
      }
      &:before{
        display: none;
      }
      //width: 318px;
      //height: 265px
    }
    &.no-active{
      opacity: 0;
      transform: translateX(-276px);
    }
    &.form-start:before{
      display: none;
    }
    .find-cost-text{
      margin-bottom: 25px;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      span{
        color: #222222;
        font-family: "Montserrat - Semi Bold";
        font-size: 55px;
        font-weight: 400;
        line-height: 64.78px;
        margin-right: 20px;
      }
      p{
        margin-bottom: 0;
        color: #222222;
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
      }
    }
    .select__gap{
      cursor: pointer;
      width: max-content;
      display: block;
      background-color: #ebeced;
      height: 46px;
      text-align: center;
      width: 216px;
      color: #222222;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 300;
      line-height: 46px;
      text-decoration: none;
      transition: all .3s ease;
      &:hover{
        background-color: #be1024;
        color: #fff;
      }
    }
    .select__list{
      list-style: none;
      width: 216px;
      //border: 1px solid #222;
      box-shadow: 5px 8px 90px rgba(102, 102, 102, 0.21);
      background-color: #fff;
      li{
        cursor: pointer;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 300;
        padding: 6px 0;
        transition: background-color .3s ease;
        &:hover{
          background-color: #ebeced;
        }
      }
      span{
        text-align: center;
        width: 100%;
        display: block;
      }
    }
  }
  &-form{
    width: 872px;
    height: 211px;
    box-shadow: 5px 8px 90px rgba(102, 102, 102, 0.21);
    background-color: #fff;
    position: absolute;
    opacity: 0;
    transition: all .3s ease;
    transform: translateX(-554px);
    transition-delay: .9s;
    text-align: center;
    &-back{
      position: absolute;
      top: 5px;
      left: 5px;
      font-size: 16px;
    }
    &.active{
      transform: translateX(336px);
      opacity: 1;
      z-index: 10;
    }
    h2{
      margin-bottom: 20px;
    }
    &-inputs{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 20px;
      p{
        margin: 0 15px;
      }
      input{
        width: 100%;
        height: 49px;
        background-color: #fafafa;
        color: #222;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        padding-left: 32px;
        border: 0;
      }
    }
    button{
      width: 255px;
      height: 50px;
      background-color: #be1024;
      margin: auto;
      text-align: center;
      color: #fff;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      border: 0;
      display: block;
      cursor: pointer;
      transition: all .3s ease;
      position: relative;
      &:after {
        content: '';
        opacity: 1;
        position: absolute;
        top: 50%;
        fill: #fff;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        right: 50px;
        transform: translateY(-50%);
        background-image: url(../img/page-vacancies-form-btn.png);
        width: 33px;
        height: 15px;
      }
      &:hover {
        background-color: #222;
        &:after {
          right: 17px;
          opacity: 0;
          background-color: transparent;
        }
      }
    }
  }
}

.trust-us{
  margin-bottom: 79px;
  .page-title{
    margin-bottom: 34px;
  }
  .line-27{
    margin-bottom: 52px;
  }
  .container-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &-block{
    min-width: 245px;
    position: relative;
    padding-top: 161px;
    img{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    p{
      color: #222222;
      font-family: 'Montserrat';
      font-size: 24px;
      font-weight: 700;
      line-height: 18px;
      text-align: center;
      margin-bottom: 37px;
    }
    a{
      width: 202px;
      margin: auto;
      height: 59px;
      border: 1px solid #282828;
      background-color: #ffffff;

      display: block;
      text-align: center;
      line-height: 59px;
      color: #222222;
      font-family: "Proxima Nova - Semibold";
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      transition: all .3s ease;
      &:hover{
        background-color: #bc1024;
        color: #fff;
        border-color:#bc1024 ;
      }
    }
  }
}

.home-reviews{
  padding: 0 30px;
  .page-title{
  }
  .line-27{
    margin-bottom: 44px;
  }
  .container-full{
    padding: 0;
  }
  .home-reviews-sliser{
    width: 100%;
    .slick-list{
      padding-top: 32px;
      padding-bottom: 73px;
    }
  }
  .home-review{
    width: 485px;
    height: 284px;
    margin: 0 30px;
    box-shadow: 5px 8px 90px rgba(234, 234, 234, 0.76);
    background-color: #ffffff;
    text-align: center;
    padding: 38px 37px 0;
    .line-20{
      margin-bottom: 15px;
    }
    &-name{
      color: #2f2f2f;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 12px;
    }
    &-position{
      color: #2f2f2f;
      margin-bottom: 13px;
      font-family: "Proxima Nova";
      font-size: 16px;
      line-height: 1;
      font-weight: 300;
    }
    &-info{
      color: #2f2f2f;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 300;
      height: 146px;
      overflow: hidden;
      line-height: 24px;
    }
  }
}

.home-news{
  padding-bottom: 60px;
  .page-title{
    margin-bottom: 35px;
  }
  .line-27{
    margin-bottom: 57px;
  }
  .container-full{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 36px;
  }
  &-open{
    a{
      margin: auto;
      display: block;
      width: 221px;
      height: 53px;
      border: 1px solid #282828;
      text-align: center;
      line-height: 53px;
      color: #222222;
      font-family: "Proxima Nova - Semibold";
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      background-color: #ffffff;
      transition: all .3s ease;
      &:hover{
        background-color: #bc1024;
        color: #fff;
        border-color: #bc1024;
      }
    }
  }
  &-block{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &-img{
    width: 380px;
    height: 225px;
    max-width: 100%;
    img{
      width: 100%;
      height: 100%;
    }
  }

  &-content{
    margin-left: 30px;
    width: 350px;
    padding-top: 22px;
  }
  &-date{
    color: #818181;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 19px;
  }
  &-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #222222;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 15px;
  }
  &-text{
    height: 96px;
    color: #2f2f2f;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    overflow: hidden;
    margin-bottom: 15px;
  }
  &-next{
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    a{
      color: #222222;
    }
  }
}

.home-baner_info{
  margin-bottom: 68px;
  padding-top: 78px;
  height: 532px;
  width: 100%;
  overflow: hidden;
  .container-full{
    display: flex;
    flex-direction: row;
  }
  h1{
    margin-bottom: 41px;
    color: #fff;
    position: relative;
    font-size: 36px;
    font-family: 'Montserrat';
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
  }
  .line-27{
    margin-bottom: 47px;
    position: relative;
  }
  &-block{
    text-align: center;
    padding-top: 97px;
    width: 16.66%;
    position: relative;
    img{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &-num{
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 700;
    color: #be1024;
    line-height: 1;
    margin-bottom: 20px;
    span{
      color: #ffffff;
    }
  }
  &-name{
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
  }
}

.home-tabs{
  margin-bottom: 70px;
  .page-title{
    margin-bottom: 44px;
  }
  .line-27{
    margin-bottom: 41px;
  }
  &-list{
    list-style: none;
    margin: 0 auto 61px;
    width: 983px;
    height: 62px;
    box-shadow: 5px 8px 90px #eaeaea;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;

    li{
      height: 100%;
      border-right: 1px solid #f3f4f7;
      &:last-child{
        border-right: none;
      }
      a{
        padding: 0 47px;
        display: block;
        line-height: 61px;
        color: #000;
        text-decoration: none;
        height: 100%;
        color: #212121;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 400;
        transition: all .3s ease;
      }
      &.ui-tabs-active a{
        background-color: #bc1024;
        color: #ffffff;
        font-family: "Proxima Nova - Semibold";
        font-weight: 600;
      }
      &:hover a{
        background-color: #bc1024;
        color: #ffffff;
      }
    }

  }
  .home-tab{
    &-slicks {
      height: 268px;
    }
    &-slick{
      position: relative;
      height: 268px;
      background-color: #fafafa;
      &:nth-child(2n+1){
        background-color: #f3f4f7;
      }
      img{
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
.home-footer{
  height: 731px;
  overflow: hidden;
  padding-top: 145px;
  position: relative;
  .parallax-footer-logo{
    position: absolute;
    left: 50%;
    opacity: .2;
    top: 70px;
    transform: translateX(-50%);
    z-index: 0;
    img {
        min-width: max-content!important;
        min-height: max-content!important;
    }
  }
  &:after {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }
  &.active:after {
    //-webkit-animation: shine 0.75s;
    //animation: shine 0.75s;
  }
  &:before{
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1300px;
    height: 100%;
    background-color: #18191c;
    opacity: 0.28;
  }
  .home-footer-left{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    .home-footer-block{
      width: 50%;
    }
  }
  .home-footer-right{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    .home-footer-block{
      width: 50%;
    }
  }
  .container-content{
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  ul{
    list-style: none;
  }
  &-logo{

  }
  &-title{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 35px;
  }
  &-dop_list{
    margin-bottom: 25px;
    p{
      margin-bottom: 20px;
      a{
        //opacity: 0.77;
        color: #ffffff;
        font-family: "Proxima Nova - Semibold";
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        transition: opacity .3s ease;
        &:hover{
          opacity: 1;
        }
      }
    }
    li {
      margin-bottom: 10px;
      a{
        //opacity: 0.77;
        padding-left: 15px;
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 300;
        line-height: 1;
        transition: opacity .3s ease;
        &:hover{
          opacity: 1;
        }
      }
    }

  }
  &-list{
    li{
      margin-bottom: 15px;
      a{
        //opacity: 0.49;
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 400;
        transition: opacity .3s ease;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
  &-phone{
    padding-left: 37px;
    margin-bottom: 5px;
    position: relative;
    i{
      position: absolute;
      left: 0;
      font-size: 13px;
      top: 3px;
      &:before{
        color: rgba(255, 255, 255, 0.61);
      }
    }
    p{
      margin-bottom: 20px;
      line-height:1;
    }
    a{
      color: #ffffff;
      font-family: "Proxima Nova - Semibold";
      font-size: 20px;
      font-weight: 400;
      line-height:1;
      text-decoration: none;
      span{
        font-size: 16px;
      }
    }
  }
  &-address{
    margin-bottom: 40px;
    padding-left: 37px;
    //opacity: 0.49;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    position: relative;
    i{
      position: absolute;
      left: 0;
      top: -4px;
    }
    .footer-address{
      left: 0;
      top: 0;
      position: absolute;
      background-image: url(../img/footer-address.png);
      width: 14px;
      height: 20px;
    }
  }
  &-social{
    margin-bottom: 45px;
    p{
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      margin-bottom: 23px;
    }
    a{
      text-decoration: none;
      margin-right: 33px;
      i{
        font-size: 30px;
        &:before{
          transition: color .3s ease;
          color: #fff;
        }
      }
      &:hover i:before{
        color: #fff;
      }
    }
  }
  &-QR{
    p{
      margin-bottom: 31px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      margin-bottom: 31px;
    }
  }
}

.copyrighted{
  background-color: #fff;
  .container-full{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &-left{
    color: #333333;
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  &-right{
    color: #333333;
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    span{
      color: #6d5cee;
      font-weight: 700;
    }
  }
}

.title-img{
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.49);
  &:after{
    width: 100%;
    height: 565px;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../img/line-header.png);
  }
  img{
    width: 100%;
  }
  &.panel-protection{
    .title-img-text{
      padding-left: 20px;
      //width: 100%;
      //max-width: 1211px;
      //left: 50%;
      //transform: translate(-50%,-45%);
    }
    h1{
      margin-bottom: 10px ;
    }
    p{
      max-height: 72px;
      overflow-y:hidden;
      max-width: 760px;
      color: #ffffff;
      font-family: "Proxima Nova - Semibold";
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  &-text{
    left: 303px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 303px;
    h1{
      margin: 0;
      color: #f8faff;
      font-size: 48px;
      font-weight: 700;
      line-height: 1;
      font-family: 'Montserrat - Semi Bold';
    }
    i{
      position: absolute;
      left: -28px;
      bottom: 50%;
      transform: translate(-100%,50%);
      &:before{
        color: #fff;
        text-shadow: -19px 11px 2px rgba(243, 243, 243, 0.35);
      }
      &.icon-question-1{
        font-size: 74px;
      }
      &.icon-images{
        font-size: 42px;
      }
      &.icon-remote-control-buttons{
        font-size: 64px;
      }
      &.icon-percent{
        font-size: 55px;
      }
      &.icon-telephone-receiver-with-circular-arrows{
        font-size: 62px;
      }
      &.icon-bullseye{
        font-size: 68px;
      }
    }
  }
}

.prise-list{
  width: 100%;
  max-width: 1296px;
  margin: auto;
  .page-title{
    margin-bottom: 24px;
    margin-top: 72px;
  }
  .line-27{
    margin-bottom: 54px;
  }
  &-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .left-tab{
    padding-top: 44px;
    width: 100%;
  }
  &-title{
    margin-bottom: 35px;
    padding-left: 49px;
    color: #222222;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    position: relative;
    &:after{
      content: '';
      display: block;
      width: 16px;
      height: 7px;
      background-color: #be1024;
      position: absolute;
      top: 50%;
      left: 17px;
      transform: translateY(-50%);
    }
  }
  &-select{
    display: inline-block;
    position: relative;
    margin-bottom: 44px;
    &:after {
      content: ">";
      font-size: 12px;
      position: absolute;
      right: 35px;
      top: 19px;
      z-index: 1;
      text-align: center;
      pointer-events: none;
      transform: rotate(90deg);
      color: #737373;
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
      box-sizing: border-box;
    }
    .select {
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
      width: 100%;
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: absolute;
        z-index: 99;
        background: #fff;
      }
    }
    .select-wrap {
      max-width: 700px;
      width: 100%;
      margin: 20px auto;
    }
    .select-wrap select {
      margin: 20px;
    }
    .select__gap {
      padding: 0 62px 0 45px;
      width: 330px;
      height: 55px;
      border: 1px solid #e7e7e7;
      background-color: #fff;
      text-align: center;
      text-align-last: center;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: #222222;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 700;
      line-height: 51px;
      cursor: pointer;
    }
    .select__list {
      background: transparent;
      border: 1px solid #222222;
      margin: 0px 0;
      width: 100%;
    }
    .select__list.on {
      display: block;
    }
    .select__item span {
      display: block;
      padding: 10px 15px;
      cursor: pointer;
      color: #333;
    }
    .select__item.selected,
    .select__item span:hover {
      background-color: #ebeced;
    }
  }
  &-table{
    margin-bottom: 42px;
    box-shadow: 5px 8px 90px rgba(191, 191, 191, 0.34);
    background-color: #ffffff;
    .table-name{
      padding:30px 0 20px 31px;
      color: #222222;
      font-size: 20px;
      font-weight: 700;
      line-height: 18px;
    }
    table{
      width: 100%;
      border-spacing:0;
    }
    tr{
      height: 90px;
      &:first-child{
        height: 69px;

      }
      &:last-child td{
        border-bottom: 0;
      }
      &:nth-child(2){
        td:nth-child(1){
          font-size: 14px;
          border-bottom: 0;
          border-left: 0;
          padding-left: 28px;
          text-align: left;
        }
        td:nth-child(2){
          text-align: center;
        }
      }
    }
    th{

      border: 1px solid #ebeef4;
      border-top: 2px solid #ebeef4;
      height: 69px;
      color: #222222;
      font-family: "Proxima Nova - Semibold";
      font-size: 12px;
      background-color: #f9f9f9;
      font-weight: 400;
      line-height: 18px;
      &:nth-child(2n){
        background-color: #ebeef4;
      }
      span{
        font-family: "Proxima Nova";
        font-weight: 300;
      }
      &:first-child{
        font-size: 16px;
        padding-left: 29px;
        width: 290px;
        border-left: 0;
      }
      &:nth-child(2){
        padding-left: 14px;
        width: 114px;
      }
      &:nth-child(3),&:nth-child(4){
        padding-left: 8px;
        width: 66px;
      }
      &:nth-child(5){
        padding-left: 15px;
        width: 98px;
      }
      &:nth-child(6){
        padding-left: 11px;
        width: 102px;
      }
      &:nth-child(7){
        padding-left: 10px;
        width: 109px;
      }
      &:last-child{
        border-right: 0;
      }
    }
    td{
      border: 1px solid #ebeef4;
      text-align: center;
      color: #222222;
      font-family: "Proxima Nova - Semibold";
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      &:first-child{
      }
      &:last-child{
        border-right: 0;
      }
      &:nth-child(1){
        text-align: center;
      }
    }
  }
  &-btn{
    display: block;
    width: 284px;
    height: 49px;
    box-shadow: 5px 8px 90px rgba(191, 191, 191, 0.21);
    border: 1px solid #333333;
    background-color: #ffffff;
    margin-bottom: 40px;
    position: relative;
    transition: background-color .3s ease;
    a{
      transition: color .3s ease;
      text-align: center;
      line-height: 49px;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #222222;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 700;
      display: block;
    }
    svg{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -12px;
      background-color: #fff;
      transition: opacity .3s ease;
    }
    &:hover{
      background-color: #333333;
      a{
        color: #fff;
      }
      svg{
        opacity: 0;
      }
    }
  }
}

.left-tabs{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  &-list{
    margin-bottom: 40px;
    width: 380px;
    list-style: none;
    box-shadow: 5px 8px 90px rgba(191, 191, 191, 0.34);
    background-color: #ffffff;
    li{
      height: 72px;
      position: relative;
      background-color: #fff;
      transition: all .3s ease;
      i{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 34px;
        &:before{
          color: #222222;
          transition: color .3s ease;
        }
        &.icon-shield-1{
          &:before{
            font-size: 29px;
          }
          &.galery-icon:before{
            font-size: 24px;
          }
        }

        &.icon-remote-control{
          left: 32px;
          &:before{
            font-size: 32px;
          }
        }
        &.icon-cctv:before{
          font-size: 28px;
        }
        &.icon-contract{
          font-size: 24px;
        }
        &.icon-newspaper-1{
          font-size: 23px;
        }
        &.icon-contract{
          font-size: 24px;
        }
        &.icon-folders{
          font-size: 21px;
        }
        &.icon-credit-card{
          font-size: 22px;
        }
        &.icon-question-2{
          font-size: 22px;
        }
      }
      &:after{
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        background-color: #cecece;
        height: 20px;
        top: 50%;
        left: 86px;
        transform: translateY(-50%);
      }
      &:before {
        content: '';
        position: absolute;
        right: -54px;
        top: 50%;
        transform: translateY(-50%);
        border: 36px solid transparent;
        border-left: 18px solid transparent;
        opacity: .9;
      }
      a{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 72px;
        transition: all .3s ease;
        padding-left: 105px;
        display: block;
        color: #222222;
        font-family: "Proxima Nova - Semibold";
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
      }
      &.ui-tabs-active{
        background-color: #be1024;
        a,i:before{
          color: #fff;
        }
        &:before{
          border-left-color: #be1024;
        }
      }
      &:hover{
        background-color: #be1024;
        a,i:before{
          color: #fff;
        }
      }
    }
  }
  &-content{
    width: 856px;
  }
}

.action-baners{
  margin-bottom: 57px;
  .container-full{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .action-baner{
    overflow: hidden;
    width: 712px;
    height: 256px;
    position: relative;
    img{
      width: 100%;
      -webkit-transform: scale(1, 1);
      -webkit-transition-timing-function: ease-out;
      -webkit-transition-duration: 300ms;
      -moz-transform: scale(1, 1);
      -moz-transition-timing-function: ease-out;
      -moz-transition-duration: 300ms;
      height: 100%;
    }
    &-content{
      position: absolute;
      top: 90px;
      left: 68px;
    }
    &-title{
      color: #fafafa;
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
      margin-bottom: 22px;
      span{
        font-family: "Montserrat - Extra Bold";
        font-size: 36px;
        font-weight: 400;
      }
    }
    &-name{
      color: #be1125;
      font-size: 14px;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
    }
    &:hover{
      img{
        -webkit-transform: scale(1.2, 1.2);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 300ms;
        -moz-transform: scale(1.2, 1.2);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 300ms;
      }
    }
  }
}

.panel-protection{
  .page-title{
    margin-top: 70px;
    margin-bottom: 23px;
  }
  .line-27{
    margin-bottom: 57px;
  }
  &-text{
    max-width: 1360px;
    width: 100%;
    margin: 0 auto 104px;
    color: #2f2f2f;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
  }
  &-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    li{
      width: 270px;
      position: relative;
      height: 201px;
      margin: 0 15px 40px;
      box-shadow: 5px 8px 90px rgba(134, 134, 134, 0.21);
      background-color: #fafafa;
      transition: background-color .3s ease;
      text-align: center;
      &:hover{
        background-color: #be1024;
        a,i:before{
          color: #fff;
        }
        .panel-protection-list-img-normal{
          opacity: 0;
        }
        .panel-protection-list-img-hover{
          opacity: 1;
        }
      }
    }
    &-img{
      &-normal{
        position: absolute;
        bottom: 102px;
        transform: translateX(-50%);
        left: 50%;
        opacity: 1;
        transition: opacity.3s ease;
      }
      &-hover{
        position: absolute;
        bottom: 102px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity.3s ease;
      }
    }
    i{
      position: absolute;
      bottom: 102px;
      left: 50%;
      transform: translateX(-50%  );
      &:before{
        transition: color .3s ease;
        color: #222222;
      }
      &.icon-home-5{
        font-size: 54px;
      }
      &.icon-shop{
        font-size: 60px;
        bottom: 96px;
      }
      &.icon-garage-1{
        font-size: 50px;
      }
      &.icon-building{
        font-size: 49px;
      }
      &.icon-english-cottage{
        font-size: 49px;
      }
      &.icon-bank{
        font-size: 50px;
      }
      &.icon-safebox{
        font-size: 51px;
      }
      &.icon-restaurant-1{
        font-size: 48px;
      }
      &.icon-hospital{
        font-size: 47px;
      }
      &.icon-bricks{
        font-size: 48px;
      }
      &.icon-alarm{
        font-size: 54px;
      }
      &.icon-safety{
        font-size: 50px;
      }
      &.icon-fire-alarm{
        font-size: 50px;
      }
      &.icon-shield-3{
        font-size: 52px;
      }
      &.icon-parking-2{
        font-size: 73px;
        bottom: 93px;
      }
    }
    a{
      text-decoration: none;
      display: block;
      padding-top: 125px;
      width: 100%;
      height: 100%;
      color: #222222;
      transition: all.3s ease;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
    }
  }
}

.page-galery{
  width: 100%;
  max-width: 1296px;
  margin: 0 auto 90px;
  .page-title{
    margin-bottom: 23px;
    margin-top: 70px;
  }
  .line-27{
    margin-bottom: 34px;
  }
  &-list{
    display: flex;
    max-width: 816px;
    margin: 0 -12px;
    float: right;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
    li{
      margin: 0 12px 24px ;
      width: 248px;
      height: 246px;
      position: relative;
      cursor: pointer;
      &:before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(1, 22, 50, 0.49);
        transition: opacity .3s ease;
      }
      &:after{
        content: '';
        background-image: url(../img/focus.png);
        width: 38px;
        height: 38px;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
      img{
        width: 100%;
        height: 100%;
      }
      &:hover:after, &:hover:before{
        opacity: 1;
      }
    }
  }
}

.for-clients{
  width: 100%;
  max-width: 1296px;
  margin: auto;
  .page-title{
    margin-bottom: 29px;
    margin-top: 70px;
  }
  .line-27{
    margin-bottom: 34px;
  }
  &-content{
    padding-top: 13px;
  }
  &-title_tab{
    color: #222222;
    font-family: "Proxima Nova - Semibold";
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 45px;
  }
  &-list{
    margin-bottom: 40px;
    &-name{
      color: #222222;
      font-family: "Proxima Nova - Semibold";
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 30px;
    }
    ul{
      list-style: none;
      -webkit-column-count:2;
      -moz-column-count:2;
      column-count:2;
      li{
        margin-bottom: 36px;
        width: 370px;
        padding-left: 30px;
        position: relative;
        &:after{
          content: '';
          position: absolute;
          top: 5px;
          display: block;
          left: 0;
        }
        &.fc-list-text{
          color: #878787;
          font-family: "Proxima Nova";
          font-size: 16px;
          font-weight: 300;
          line-height: 24px;
          &:after{
            width: 14px;
            height: 14px;
            border: 1px solid #d4d4d4;
          }
        }
        &.fc-list-document{
          a{
            color: #878787;
            font-family: "Proxima Nova";
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-decoration: none;
            &:hover{
              text-decoration: underline;
            }
          }
          &:after{
            width: 14px;
            height: 19px;
            background-image: url(../img/document.png);
            background-size: cover;
          }
        }
      }
    }
  }
}

.page-promotions{
  .page-title{
    margin-top: 70px;
    margin-bottom: 25px;
  }
  .line-27{
    margin-bottom: 58px;
  }
  &-list{
    margin-bottom: 50px;
    ul{
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    li{
      width: 305px;
      margin: 0 17.5px 44px;
      text-align: center;
    }
    &-img{
      width: 100%;
      height: 234px;
      margin-bottom: 32px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    &-date{
      color: #bdbdbd;
      font-family: "Montserrat - Semi Bold";
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 16px;
    }
    &-name{
      color: #222222;
      font-family: "Montserrat - Semi Bold";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 14px;
    }
    &-text{
      color: #aeaeae;
      font-family: "Proxima Nova";
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 25px;
    }
    &-btn a{
      display: block;
      width: 271px;
      height: 50px;
      margin: auto;
      line-height: 50px;
      box-shadow: 5px 8px 90px rgba(191, 191, 191, 0.21);
      border: 1px solid #333333;
      text-decoration: none;
      color: #222222;
      font-family: "Proxima Nova - Semibold";
      font-size: 14px;
      font-weight: 400;
      background-color: transparent;
      transition: all .3s ease;
      &:hover{
        color: #fff;
        background-color: #be1024;
        border-color: #be1024;
      }
    }
  }
}

.pagination{
  margin: auto;
  width: max-content;
  display: block;
  margin-bottom: 50px;
  ul{
    list-style: none;
    li{
      display: inline-block;
      margin: 0 10px;
      width: 42px;
      height: 42px;
      box-shadow: 5px 8px 90px rgba(191, 191, 191, 0.21);
      border: 1px solid #333333;
      background-color: #ffffff;
      transition: all .3s ease;
      a{
        transition: color .3s ease;
        text-decoration: none;
        text-align: center;
        width: 100%;
        height: 100%;
        display: block;
        color: #222222;
        font-size: 12px;
        line-height: 42px;
      }
      &:hover,&.active{
        background-color: #be1024;
        border-color: #be1024;
      }
    }
  }
}

.page-stock{
  .page-title{
    margin: 70px 0 25px;
  }
  .line-27{
    margin-bottom: 66px;
  }
  &-content{
    //display: flex;
    //flex-direction: row;
    //justify-content: flex-start;
    //align-items: flex-start;
    padding: 17.5px;
  }
  img{
    float: left;
    width: 100%;
    min-width: 540px;
    max-width: 540px;
    height: 401px;
    margin-right: 47px;
  }
  &-info{
    text-align: left;
    padding-top: 14px;
    max-width: 580px;
    width: 100%;
  }
  &-date{
    display: block;
    color: #bdbdbd;
    font-family: "Montserrat - Semi Bold";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 19px;
  }
  &-name{
    display: block;
    color: #222222;
    font-family: "Montserrat - Semi Bold";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom:11px;
  }
  &-text{
    color: #aeaeae;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom:20px;
  }
  &-btn{
    margin-top: 20px;
    a{
      float: right;
      width: 229px;
      height: 49px;
      box-shadow: 5px 8px 90px rgba(191, 191, 191, 0.21);
      border: 1px solid #333333;
      background-color: #ffffff;
      display: block;
      line-height: 49px;
      text-decoration: none;
      text-align: center;
      color: #222222;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 700;
      position: relative;
      transition: all .3s ease;
      svg{
        opacity: 1;
        position: absolute;
        top: 50%;
        background-color: #fff;
        transition: all .3s ease;
        right: -17px;
        transform: translateY(-50%);
      }
      &:hover{
        color: #fff;

        background-color: #333333;
        svg{
          right: -50px;
          opacity: 0;
          background-color: transparent;
        }
      }
    }
  }
}


.modal{
  position: fixed;
  z-index: 20;
  display: none;
  background-color: rgba(0, 0, 0, 0.51);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%,-50%);
  &#popups-galery{
    .modal-body{
      margin-bottom: -5px;
    }
    .modal-dialog{
      max-width: 1000px;
      max-height: 600px;
      padding: 0;
      width: auto;
    }
    iframe{
      width: 700px;
      height: 540px;
      border: 0;
    }
  }
  .modal-dialog{
    padding: 30px;
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%,-50%);
    h4{
      text-align: center;
      margin-bottom: 10px;
    }
    img{
      width: 50px;
      margin-bottom: 25px;
    }
    .modal-header{
      text-align: center;
      button{
        position: absolute;
        top: 15px;
        opacity: 1;
        right: 15px;
        .icon-close{
          font-size: 30px;
          font-weight: bold;
          &:before{
            color: #000;
          }
        }
        &:hover .icon-close:before{
          color: #be1024;
        }
      }
    }
    .block-input{
      input{
        width: 100%;
        background-color: #fafafa;
        height: 49px;
        color: #222222;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        padding-left: 32px;
        border: 0;
        margin-bottom: 20px;
      }
    }
    .modal-footer{
      button{
        background-color: #be1024;
        width: 100%;
        height: 49px;
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        border: 0;
        cursor: pointer;
        transition: background-color .3s ease;
        &:hover{
          background-color: #2d2d2d;
        }
      }
    }
  }
}

.page-promotions{
  .page-title{
    margin-top: 70px;
    margin-bottom: 30px;
  }
  .line-27{
    margin-bottom: 56px;
  }
  &-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 65px;
  }
  &-city{
    width: 549px;
    h2{
      color: #222222;
      font-size: 30px;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 15px;
      margin-top: 12px;
    }
    p{
      color: #4a4a4a;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 28px;
    }
    &-block{
      margin-bottom: 20px;

      .page-promotions-city-info{
        padding-bottom: 1px;
      }
      .page-promotions-city-address{
        cursor: pointer;
        transition: all .3s ease;
        &:hover{
          text-decoration: underline;
        }
      }
      &.active {
        margin-bottom: 0;
        .page-promotions-city-name{
          &:before{
            width: 28px;
            height: 28px;
          }
          &:after{
            transform: rotate(0deg) translateY(-50%);
            opacity: 1;
          }
        }
      }
    }
    &-name{
      position: relative;
      height: 48px;
      background-color: #f9f9f9;
      padding-left: 20px;
      line-height: 48px;
      color: #222222;
      font-family: "Proxima Nova";
      font-size: 18px;
      cursor: pointer;
      font-weight: 400;
      &:before{
        content: '';
        background-image: url(../img/city-name.png);
        background-size: contain;
        width: 21px;
        position: absolute;
        top: 50%;
        left: -33px;
        transform: translate(-50%,-50%);
        transition: all .3s ease;
        height: 21px;
      }
      &:after{
        content: '';
        background-image: url(../img/arrow-city.png);
        transform: rotate(180deg) translateY(50%);
        transition: all .3s ease;
        position: absolute;
        top: 50%;
        width: 8px;
        height: 8px;
        opacity: .6;
        right: 13px;
      }
    }
    &-info{
      padding-top: 22px;
      display: none;

      i{
        position: absolute;
        left: 12px;
        &.icon-flag{
          font-size: 18px;
        }
        &.icon-letter{
          font-size: 21px;
        }
        &.icon-phone-reciever{
          font-size: 16px;
        }
      }
    }
    &-address{
      width: 240px;
      position: relative;
      padding-left: 46px;
      color: #222222;
      font-size: 13px;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 17px;
      letter-spacing: 1.4px;
    }
    &-email{
      position: relative;
      width: 182px;
      padding-left: 46px;
      a{
        color: #222222;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        margin-bottom: 17px;
        letter-spacing: 1.4px;
      }
    }
    &-phone{

      position: relative;
      width: 240px;
      padding-left: 46px;
      margin-bottom: 20px;
      a{
        color: #222222;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 1.4px;
      }
      p{
        margin-bottom: 0px;
      }
    }
  }
  &-info{
    width: 100%;
    padding: 30px 33px 1px 68px;
    min-height: 410px;
    margin-bottom: 25px;
    box-shadow: 5px 8px 90px rgba(191, 191, 191, 0.28);
    background-color: #ffffff;
    .block-top{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &-map{
    width: 686px;
    height: 544px;
  }
}

.questions-remain{
  margin-bottom: 65px;
  background-image: url(../img/bg-questions-remain.png);
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 5px 8px 90px rgba(191, 191, 191, 0.28);
  width: 100%;
  padding: 43px 0;
  .page-title{
    margin-top: 0;
    margin-bottom: 19px;
  }
  p{
    text-align: center;
    color: #222222;
    font-family: "Montserrat - Semi Bold";
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 13px;
  }
  .line-27{
    margin-bottom: 30px;
  }
  &-field{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  &-inputs{
    width: 393px;
    margin-right: 42px;
    input{
      height: 51px;
      box-shadow: 5px 8px 90px rgba(191, 191, 191, 0.21);
      margin-bottom: 25px;
      width: 100%;
      border: 1px solid #929292;
      text-align: center;
      color: #777777;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 400;
    }
  }
  &-textarea{
    width: 373px;
    margin-right: 20px;
    textarea{
      height: 126px;
      padding-top: 20px;
      padding-left: 45px;
      resize: none;
      width: 100%;
      box-shadow: 5px 8px 90px rgba(191, 191, 191, 0.21);
      border: 1px solid #929292;
      margin-bottom: 30px;
      color: #777777;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 400;
    }
  }
  &-btn{
    button{
      width: 229px;
      height: 49px;
      margin: auto;
      box-shadow: 5px 8px 90px rgba(191,191,191,.21);
      border: 1px solid #333;
      background-color: #fff;
      line-height: 49px;
      text-align: center;
      color: #222;
      font-family: "Proxima Nova";
      font-size: 14px;
      display: block;
      font-weight: 700;
      position: relative;
      transition: all .3s ease;
      cursor: pointer;
      &:after{
        background-color: #fff;
        content: '';
        opacity: 1;
        position: absolute;
        top: 50%;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        right: -17px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background-image: url(../img/mail-000.png);
        width: 33px;
        height: 15px;
      }
      &:hover {
        color: #fff;
        background-color: #333;
        &:after {
          right: -50px;
          opacity: 0;
          background-color: transparent;
        }
      }
    }
  }
}

.page-vacancies{
  .page-title{
    margin-top: 70px;
    margin-bottom: 30px;
  }
  .line-27{
    margin-bottom: 64px;
  }
  &-info{
    .container-content{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
    }
    &-baner{
      margin-bottom: 30px;
      width: 542px;
      height: 273px;
      background-color: #fafafa;
      background-image: url(../img/page-vacancies-info-baner.png);
      background-repeat: no-repeat;
      background-position: right 50%;
      margin-right: 41px;
      padding-top: 91px;
      padding-left: 31px;
      text-decoration: none!important;
      p{
        color: #222222;
        font-family: "Proxima Nova - Extrabld";
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 56px;
        span{
          color: #be1024;
          font-size: 30px;
          text-transform: uppercase;
        }
      }
      .min-text{
        color: #2d2d2d;
        font-family: "Proxima Nova";
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        display: block;
        width: max-content;
        text-transform: uppercase;
      }
      &:hover .min-text{
        text-decoration: underline;
      }
    }
    &-text{
      width: 600px;
      padding-top: 35px;
      p{
        color: #a3a3a3;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
      }

    }
    &-title{
      color: #222222;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      margin-bottom: 15px;
    }
  }
  p.form-text{
    color: #222222;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 28px;
    text-align: center  ;
    .checkbox-enter{
      margin-left: 5px;
      margin-top: 2px;
      position: relative;
      .wpcf7-list-item-label{
        display:none;
      }
      input {
        position: absolute;
        z-index: 1;
        opacity: 0;
        width: 14px;
        height: 14px;
        margin: 0;
        cursor: pointer;
        top: 0;
      }
      input + label {
        position: relative;
        width: 14px;
        height: 14px;
        cursor: pointer;
        border: 1px solid #d4d4d4;
        margin: 0;
      }
      input + label:before {
        content: 'x';
        position: absolute;
        top: -1px;
        left: -1.5px;
        width: 14px;
        height: 14px;
        line-height: 14px;
        font-size: 14px;
        border-radius: 13px;
        opacity: 0;
        transition: .2s;
      }
      input:checked + label:before {
        opacity: 1;
      }
    }
  }
  &-form{
    margin: 0 auto 70px;
    width: 1149px;
    box-shadow: 5px 8px 90px rgba(174, 174, 174, 0.28);
    background-color: #ffffff;
    padding: 50px 100px 50px 87px;
    h2{
      text-align: center;
      color: #222222;
      font-weight: 700;
      line-height: 30.02px;
      letter-spacing: 0.75px;
      margin-bottom: 31px;
    }
    .icon-new-file{
      width: max-content;
      display: block;
      margin: 0 auto 23px;
      svg{
        fill:#222222;
      }
    }
    &-row{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 19px;
      .file-res{
        width: 100%;
        height: 49px;
        position: relative;
        display: block;
        cursor: pointer;
        .text{
          width: 100%;
          height: 49px;
          background-color: #fafafa;
          color: #222222;
          font-family: "Proxima Nova";
          font-size: 14px;
          font-weight: 400;
          display: block;
          line-height: 49px;
          padding-left: 32px;
          border: 0;
          cursor: pointer;
        }
        input{
          cursor: pointer;
          position: absolute;
          opacity: 0;
          top: 0;
          width: 100%;
          height: 49px;
          display: block;
          left: 0;
        }
      }
      input{
        width: 100%;
        height: 49px;
        background-color: #fafafa;
        color: #222222;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        padding-left: 32px;
        border: 0;
      }
      select{
        width: 100%;
        height: 49px;

        border: 0;
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }

    }
    &-select{
      width: 100%;
      position: relative;
      .select {
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
        width: 100%;
        ul {
          padding: 0;
          margin: 0;
          list-style-type: none;
          position: absolute;
          z-index: 99;
          background: #fff;
        }
      }
      .select-wrap {
        max-width: 700px;
        width: 100%;
        margin: 20px auto;
      }
      .select-wrap select {
        margin: 20px;
      }
      .select__gap {
        width: 100%;
        background-color: #fafafa;
        color: #222222;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        padding: 13px 15px;
        padding-left: 55px;
        cursor: pointer;
        position: relative;
      }
      .select__list {
        background: transparent;
        border: 1px solid #222222;
        margin: 0px 0;
        width: 100%;
      }
      .select__list.on {
        display: block;
      }
      .select__item span {
        display: block;
        padding: 10px 15px;
        cursor: pointer;
        color: #333;
      }
      .select__item.selected,
      .select__item span:hover {
        background-color: #ebeced;
      }
      &:after {
        content: ">";
        font-size: 12px;
        position: absolute;
        left: 31px;
        top: 34%;
        z-index: 1;
        text-align: center;
        pointer-events: none;
        transform: rotate(90deg);
        color: #737373;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        box-sizing: border-box;
      }
    }
    &-inputs{
      //display: flex;
      //flex-direction: row;
      //align-items: center;
      //justify-content: space-between;
      width: 100%;
      p{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        span{
          width: auto;
        }
      }
      span{
        &:nth-child(1) input{
          width: 304px;
        }
        &:nth-child(2) input{
          width: 289px;
        }
        &:nth-child(3) input{
          width: 141px;
        }
      }
    }
    &-name{
      color: #222222;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      min-width: 203px;
      width: 203px;
    }
    &-btn{
      button{
        width: 297px;
        height: 50px;
        background-color: #be1024;
        margin: auto;
        text-align: left;
        padding-left: 101px ;
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        border: 0;
        display: block;
        cursor: pointer;
        transition: all .3s ease;
        position: relative;
        &:hover{
          background-color: #222222;
          &:after {
            right: 50px;
            opacity: 0;
            background-color: transparent;
          }
        }
        &:after{
          content: '';
          opacity: 1;
          position: absolute;
          top: 50%;
          background-image: url(../img/page-vacancies-form-btn.png);
          width: 33px;
          height: 15px;
          transition: all .3s ease;
          right: 83px;
          transform: translateY(-50%);
        }
        svg {
          opacity: 1;
          position: absolute;
          top: 50%;
          background-color: #be1024;
          transition: all .3s ease;
          right: 83px;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.apartment-alarm{
  margin-bottom: 95px;
  .page-title{
    margin-top: 70px;
    margin-bottom: 26px;
  }
  .line-27{
    margin-bottom: 13px;
  }
  .container-1470{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  &-home{
    width: 100%;
    max-width: 740px;
    &_img{
      max-width: 696px;
      max-height: 525px;
      width: 100%;
      height: 100%;
      position: relative;
      img{
        width: 100%;
        height: 100%;
      }
      span{
        position: absolute;
        width: 36px;
        height: 36px;
        box-shadow: 5px 8px 60px rgba(70, 70, 70, 0.76);
        background-color: #2d2d2d;
        color: #fff;
        display: block;
        text-align: center;
        cursor: pointer;
        transition: background-color .3s ease;
        font-family: "Montserrat - Extra Bold";
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        line-height: 36px;
        &:hover{
          background-color: #be1024;
        }
        &.active-point{
          animation: active-point 0.5s infinite cubic-bezier(0.46, 0.01, 0.49, 0.99) alternate;
        }
        &.num-1{
          top: 98px;
          left: 459px;
        }
        &.num-2{
          top: 191px;
          left: 502px;
        }
        &.num-3{
          top: 221px;
          left: 350px;
        }
        &.num-4{
          top: 356px;
          left: 313px;
        }
        &.num-5{
          top: 309px;
          left: 572px;
        }
      }
    }
    &_info{
      width: max-content;
      p{
        color: #222222;
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 35px;
      }
      ul{
        list-style: none;
        max-width: 740px;
        width: 100%;
        column-width: 200px;
        column-count:2 ;
        li{
          padding-left: 40px;
          margin-bottom: 16px;
          color: #222222;
          position: relative;
          font-size: 16px;
          font-weight: 300;
          padding-top: 6px;
          font-weight: 300;
          line-height: 18px;
          span{
            position: absolute;
            width: 24px;
            height: 24px;
            background-color: #333333;
            color: #fff;
            display: block;
            text-align: center;
            cursor: pointer;
            transition: background-color .3s ease;
            font-family: "Montserrat - Extra Bold";
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            line-height: 24px;
            left: 0;
            top: 2px;
            &:hover{
              background-color: #be1024;
            }
          }
        }
      }

    }
  }
  &-block-info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
  }
  &-description{
    box-shadow: 5px 8px 90px rgba(191, 191, 191, 0.21);
    background-color: #ffffff;
    width: 366px;
    padding-top: 21px;
    padding-bottom: 24px;
    margin-right: 88px;
    text-align: center;
    ul{
      list-style: none;
    }
    li{
      padding-top: 62px;
      position: relative;
      img{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        &.icon-police-car{
          top: -8px;
        }
      }
    }
    &-name{
      color: #222222;
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 12px;
    }
    p{
      color: #222222;
      font-size: 13px;
      font-weight: 300;
      line-height: 22px;
      padding-bottom: 10px;
    }
  }
  &-info{
    padding-top: 30px;
    ul{
      list-style: none;
    }
    li:nth-child(2n) .apartment-alarm-info-num{
      color: #dedede;
    }
    &-num{
      color: #be1024;
      font-size: 48px;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 5px;
    }
    p{
      color: #222222;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
}
.ap_al-baners{
  margin-bottom: 96px;
  position: relative;
  .ap_al-baners-bg{
    top: -25px;
    left: 50%;
    transform: translate(-50%,0%);
    z-index: 1;
    position: absolute;
  }
  .container-1470{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    z-index: 1;
    position: relative;
    justify-content: space-between;
  }
  .ap_al-baner-package{
    background-image: url(../img/ap_al-baner-package.png);
    width: 346px;
    height: 321px;
    padding-top: 84px;
    text-align: center;
    &-name{
      color: #343434;
      font-family: "Montserrat - Extra Bold";
      font-size: 22px;
      font-weight: 400;
      line-height: 24px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 12px;
    }
    p{
      color: #222222;
      font-size: 16px;
      font-weight: 300;
      line-height: 30px;
      margin-bottom: 25px;
      span{
        font-size: 24px;
        font-weight: 700;
      }
    }
    a{
      display: block;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      width: 192px;
      height: 45px;
      line-height: 45px;
      text-decoration: none;
      box-shadow: 5px 8px 90px rgba(191, 191, 191, 0.21);
      background-color: #be1024;
      transition: background-color .3s ease;
      margin: auto;
      &:hover{
        background-color: #222222;
      }
    }
  }
  .ap_al-baner-question{
    width: 349px;
    height: 311px;
    box-shadow: 5px 8px 90px rgba(191, 191, 191, 0.21);
    background-color: #ffffff;
    position: relative;
    padding-left: 32px;
    padding-top: 102px;
    &-name{
      color: #222222;
      font-size: 22px;
      font-weight: 700;
      line-height: 30px;
      margin-bottom: 26px;
    }
    a{
      color: #222222;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 700;
      line-height: 60px;
      text-align: left;
      padding-left: 18px;
      width: 285px;
      height: 60px;
      box-shadow: 5px 8px 90px rgba(191, 191, 191, 0.21);
      border: 1px solid #333333;
      background-color: transparent;
      display: block;
      transition: all .3s ease;
      position: relative;
      text-decoration: none;
      svg {
        opacity: 1;
        position: absolute;
        top: 50%;
        background-color: #fff;
        transition: all .3s ease;
        right: -17px;
        transform: translateY(-50%);
      }
      &:hover {
        background-color: #333333;
        color: #fff;
        svg {
          right: -50px;
          opacity: 0;
          background-color: transparent;
        }
      }

    }
    &:after{
      content: '';
      width: 84px;
      height: 80px;
      top: 22px;
      right: 13px;
      background-image: url(../img/2-layers.png);
      position: absolute;
    }
    &:before{
      width: 27px;
      height: 13px;
      background-color: #be1024;
      content: '';
      position: absolute;
      top: 65px;
      left: 32px;
    }
  }
}

//How the system works (Как работает система)
.ht-system{
  margin-bottom: 108px;
  .page-title{
    margin-bottom: 28px;
  }
  .line-27{
    margin-bottom: 65px;
  }
  &-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    li{
      width: 20%;
      position: relative;
      &:first-child:after{
        display: none;
      }
      &:after{
        content: '';
        top: 20px;
        left: 0;
        transform: translateX(-50%);
        width: 128px;
        height: 1px;
        background-color: #dadada;
        position: absolute;
      }
      span{
        width: 38px;
        height: 38px;
        border-radius: 50%;
        box-shadow: 5px 8px 73px rgba(112, 112, 112, 0.27);
        background-color: #eaeaea;
        color: #222222;
        font-family: "Montserrat - Semi Bold";
        font-size: 18px;
        font-weight: 400;
        line-height: 38px;
        text-align: center;
        display: block;
        margin: 0 auto 25px;
        cursor: default;
        &:hover{
          background-color: #be1024;
          color: #fff;
        }
      }
      p{
        text-align: center;
        color: #222222;
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
      }
    }
  }
}

//Advantages  of Orlan (Приемущества компании Орлан)
.advantages-company{
  margin-bottom: 80px;
  .page-title{
    margin-bottom: 34px;
  }
  .line-27{
    margin-bottom: 60px;
  }
  &-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    li{
      width: 20%;
      padding-left: 39px;
      position: relative;
      padding-top: 65px;
      &:before{
        content: '';
        width: 1px;
        height: 150px;
        background-color: #d0d0d0;
        position: absolute;
        left: 12px;
        top: 10px;
      }
      &:after{
        background-image: url(../img/city-name.png);
        background-size: cover;
        content: '';
        top: 10px;
        left: 0;
        width: 25px;
        height: 25px;
        background-color: #fff;
        position: absolute;
      }
      img{
        position: absolute;
        top: 0;
      }
      p{
        color: #222222;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
      }
    }
  }
}

//Operating procedure (Порядок работы)
.operating-procedure{
  width: 100%;
  background-color: #f9f9f9;
  height: 557px;
  //background-image: url(../img/bg-operating-procedure.png);
  background-position: 50%;
  background-repeat: no-repeat;
  margin: 0 auto 60px;
  position: relative;
  overflow: hidden;
  &-bg{
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50% - 130px));
    top: 0;
    z-index: 1;
  }
  .container-1470{
    z-index: 2;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  &-medal{
    margin-top: 92px;
    width: 359px;
    height: 226px;
    box-shadow: 6px -7px 90px rgba(236, 236, 236, 0.21);
    border: 16px solid rgba(236, 236, 236, 0.51);
    background-color: #ffffff;
    padding: 30px 24px 30px 60px;
    position: relative;
    &:before{
      content: '';
      background-image: url(../img/quality.png);
      width: 36px;
      height: 53px;
      position: absolute;
      top: 3px;
      left: 9px;
    }
    &:after{
      content: '';
      position: absolute;
      right: -42px;
      top: 87px;
      border: 16px solid transparent;
      border-left: 28px solid #fff;
      border-left: 28px solid #fff;
    }
    p{
      color: #222222;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
    }
  }
  &-content{

  }
  &-name{
    color: #222222;
    font-family: "Montserrat - Semi Bold";
    font-size: 36px;
    font-weight: 400;
    line-height: 1;
    margin-top: 76px;
    padding-left: 88px;
    text-align: left;
    margin-bottom: 16px;
    position: relative;
    i{
      position: absolute;
      bottom: 4px;
      left: 14px;
      font-size: 50px;
      &:before{
        color: #222222;
      }
    }
  }
  &-box{
    width: 441px;
    height: 399px;
    border: 13px solid #ececec;
    background-color: #ffffff;
    padding-left: 51px;
    padding-top: 21px;
    ul{
      list-style: none;
      li{
        color: #222222;
        font-size: 14px;
        font-weight: 700;
        line-height: 48px;
        position: relative;
        &:after{
          position: absolute;
          top: 50%;
          left: -36px;
          transform: translateY(-50%);
          content: '';
          background-image: url(../img/city-name.png);
          background-size: cover;
          width: 22px;
          height: 22px;
        }
        &:before{
          top: 50%;
          content: '';
          width: 1px;
          height: 100%;
          position: absolute;
          background-color: #ededed;
          left: -25px;
        }
        &:last-child:before{
          display: none;
        }
      }
    }
  }
}

//Alarm in the apartment (Сигнализация в квартиру)
.alarm-apartment{
  .page-title{
    margin-bottom: 24px;
  }
  .line-27{
    margin-bottom: 21px;
  }
  &-text{
    color: #2f2f2f;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    max-height: 120px;
    height: 100%;
    text-align: center;
    overflow: hidden;
    padding: 0 35px;
    margin-bottom: 15px;
    transition: height .3s ease;
    &.active{
      max-height: 100%;
    }
  }
  &-open{
    margin: 0 auto 20px;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    svg{
      transition: all .3s ease;
    }
    span{
      margin-bottom: 15px;
      color: #2f2f2f;
      font-family: "Montserrat - Semi Bold";
      font-size: 12px;
      font-weight: 400;
      line-height: 30px;
      text-transform: uppercase;
      &.text-close{
        display: none;
      }
      &.text-open{
        display: block;
      }
    }
    &.active{
      span.text-close{
        display: block;
      }
      span.text-open{
        display: none;
      }
      svg{
        transform: rotate(180deg);
      }
    }
  }
}

.parallax-window {
  position: relative;
  .parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    img {
      display: none;
      position: absolute;
      left: 50%;
      bottom: 0;
      min-width: calc(100vw + 30%);
      min-height: calc(100vh + 30%);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
}
form{
  p{
    width: 100%;
  }
}

.fs-30{
  font-size: 30px!important;
}

.select__gap{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.select__list{
  max-height: 250px;
  overflow-y: auto;
}
.text-about{
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #2f2f2f;
}


@keyframes active-point {
  from {background-color: #2d2d2d;}
  to {background-color: #be1024;}
}
@keyframes active-after {
  from {left: 0;}
  to {left: -20px;}
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;

  line-break: auto;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 300px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
  font-size: 14px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.footer-bg{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
  height: 781px;
  img{
    width: 100%;
    height: 100%;
  }
}