@media screen and (max-width: 1600px) {
  .home-reviews .container-full{
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-reviews{
    margin-bottom: 33px;
  }
  .home-reviews .home-review{
    margin: 0 20px 40px;
  }
  .home-news .container-full {
    width: 100%;
    max-width: 970px;
  }
  .home-news-block{
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1550px) {
  .action-baners .action-baner{
    width: 48%;
  }
  .main-menu-dop{
    width: 1211px;
  }
  .main-menu-dop li a{
    width: 175px;
  }
  .home-footer{
    height: auto;
    padding: 85px 0;
  }

}
@media screen and (max-width: 1440px) {
  .apartment-alarm-home_info ul{
    column-count: 1;
  }
  .main-menu-dop{
    width: 1191px;
  }
  .find-cost-form{
    width: 855px;
  }
  .one-sliders-num{
    display: none;
  }
  .home-slider .one-sliders .slick-dots{
    top:inherit;
    bottom: 65px;
    transform: translateY(0%);
  }
  .main-menu {
    padding: 0 10px;
    background-color: transparent;
    ul li{
      background-color: #fff;
    }
  }
  .container-content{
    padding: 0 10px;
  }
  .trust-us .container-content{
    justify-content: space-around;
  }
}
@media screen and (max-width: 1390px) {
  .container-1360{
    padding: 0 15px;
  }
}
@media screen and (max-width: 1350px) {
  .title-img.panel-protection p{
    max-width: 100%;
    padding-right: 250px;
  }
}
@media screen and (max-width: 1300px) {
  .ap_al-baners .container-1470{
    justify-content: center;
    padding-top: 357px;
  }
  .ap_al-baners .ap_al-baner-package{
    margin-right: 15px;
  }
  .ap_al-baners .ap_al-baner-question{
    margin-left: 15px;
  }
  .page-promotions-map{
    width: 100%;
  }
  .page-promotions-city h2{
    text-align: center;
  }
  .page-promotions-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .page-galery-list{
    float: none;
    margin: auto;
  }
  .left-tabs{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left-tabs-list{
    width: 856px;
  }
  .home-slider .one-slider-info{
    top: inherit;
    left: 81px;
    bottom: 90px;
  }
  .home-slider .one-slider-info .page-title{
    margin: auto;
  }
  .home-slider .one-slider-info p{
    text-align: center;
    padding: 0 30px 0 95px;
  }
}
@media screen and (max-width: 1200px) {
  .home-slider .one-slider .container-content{
    width: 100%;
  }
  .apartment-alarm .container-1470{
    flex-direction: column;
    align-items: center;
  }
  .apartment-alarm-home{
    margin-bottom: 25px;
  }
  .page-vacancies-form-inputs p{
    flex-direction: column;
    span{
      width: 100%;
      input{
        width: 100%!important;
      }
      margin-bottom: 19px;
    }
  }
  .page-vacancies-form{
    width: calc(100% - 30px);
  }
  .find-cost-lvl{
    margin: 0px 15px 30px;
  }
  .main-menu-dop{
    width: 700px;
  }

  .home-slider .one-sliders .slick-dots{
    display: none!important;
  }
  .home-slider .one-sliders-num{
    display: block;
  }
  .find-cost .container-content{
    flex-wrap: wrap;
    justify-content: center;
    width: 720px;
    position: relative;
  }
  .find-cost-main{
    min-width: 100%;
    height: 160px;
    padding: 48px 0 0 40px;
    margin-bottom: 30px;
    overflow: hidden;
    p br{
      display: none;
    }
  }
  .header-navigation-menu{
    display: none;
  }
  .home-slider .one-slider-info{
    top: initial;
    bottom: 70px;
  }
  .main-menu{
    width: 700px;
    height: 100px;
    padding: 0;
    margin-top: -50px;
  }
  .main-menu li i{
    bottom: 45px;
  }
  .main-menu li a{
    padding-top: 65px;
    font-size: 12px;
    line-height: 12px;
  }
  .home-tabs-list {
    width: 900px;
  }
  .home-tabs-list li a {
    padding: 0 39.5px;
  }
  .find-cost-lvl.form-lvl-1{
    transition-delay: .3s;
  }
  .find-cost-lvl.no-active{
    transform: translate(0,-211px);
  }
  .find-cost-form{
    padding-top: 20px;
    top: 0;
    transform: translateX(0);
    width: 700px;
    height: 452px;
  }
  .find-cost-form.active{
    transform: translate(0,190px);
  }
  .find-cost-form-inputs{
    padding-top: 10px;
    flex-direction: column;
    input{
      margin: 15px 0;
      width: 75%;
    }
  }
  .main-menu-dop li a{
    width: 145px;
    height: 85px;
  }
}
@media screen and (max-width: 1050px){
  .home-reviews .home-review-info,.home-reviews .home-review{
    height: auto;
  }
  .home-reviews .home-review{
    padding: 38px 37px;
  }
}
@media screen and (max-width: 1024px) {
  .home-footer .parallax-footer-logo img{
    min-width: auto!important;
    width: 300px;
    min-height: auto!important;
  }
  .home-footer .home-footer-right{
    width: 33.333%;
    justify-content: flex-end;
    .home-footer-block:nth-child(1){
      display: none;
    }
    .home-footer-block:nth-child(2){
      width: max-content;
    }
  }
  .home-footer .home-footer-left{
    width: 66.666%;
    .home-footer-block:nth-child(2){
      .obg-block{
        width: max-content;
        margin: auto;
      }
    }
  }
  .home-footer:before{
    display: none;
  }
  .page-stock img {
    float: left;
    width: 50%;
    min-width: 50%;
    max-width: 540px;
    height: auto;
    margin-right: 47px;
  }
  .operating-procedure .container-1470{
    justify-content: center;
  }
  .operating-procedure-bg{
    display: none;
  }
  .operating-procedure-medal{
    display: none;
  }
  .advantages-company-list{
    flex-wrap: wrap;
    justify-content: center;
  }
  .advantages-company-list li{
    width: 33.333%;
  }
  .ht-system-list li:after{
    width: 50px;
  }
  .ht-system-list li p{
    font-size: 14px;
    line-height: 22px;
  }
  .page-vacancies-info-text{
    margin-bottom: 30px;
  }
  .page-vacancies-info-text{
    max-width: 600px;
    width: 100%;
    text-align: center;
  }
  .page-vacancies-info-baner{
    margin-bottom: 0;
    margin-right: 0;
    width: 100%;
    max-width: 542px;
  }
  .page-vacancies-info .container-content{
    flex-direction: column;
    align-items: center;
  }
  .page-promotions-city p{
    text-align: center;
  }
  .page-promotions-city-phone p{
    text-align: left;
  }
  .title-img.panel-protection h1 {
    text-align: center;
  }
  .title-img.panel-protection p{
    display: none;
  }
  .for-clients-list ul li{
    width: 340px;
  }
  .page-stock-img{
    margin: 0 ;
  }
  .page-stock-content{
    flex-direction: column;
    align-items: center;
  }
  .page-galery-list{
    width: 544px;
  }
  .left-tabs-list,.left-tabs-content{
    width: 700px;
  }
  .action-baners .container-full{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .action-baners .action-baner{
    width: 90%;
    margin-top: 25px;
  }
  .title-img-text{
    transform: translate(-50%,calc(-50% + 20px));
    left: 50%;
  }
  .home-slider .one-slider-info {
    bottom: 50%;
    left: 50%;
    width: 100%;
    padding: 0 120px;
    transform: translate(-50%,calc(50% + 42px));
    p{
      height: auto;
      padding: 0;
      margin-bottom: 20px;
    }
  }
  .main-menu {
    margin-top: 0;
  }
  .header-logo img{
    width: 100px;
  }
  .header-info{
    display: none;
  }
  .container-content{
    width: 720px;
  }
  .home-footer {
    height: auto;
    padding: 30px 0;
  }
  .trust-us .container-content{
    width: 100%;
  }
  .home-footer-title{
    margin-bottom: 20px;
  }
  .home-footer-dop_list {
    margin-bottom: 15px;
  }
  .home-footer-dop_list p {
    margin-bottom: 15px;
  }
  .home-footer-social p,.home-footer-social,.home-footer-address{
    margin-bottom: 20px;
  }
  .home-baner_info{
    padding-top: 18px;
    height: auto;
  }
  .home-baner_info .container-full{
    width: 700px;
    flex-wrap: wrap;
  }
  .home-baner_info-block{
    width: 33%;
    margin-bottom: 40px;
  }
  .home-tabs-list{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content:space-between;
    li{
      width: 33.33333%;
      border: 0;
      text-align: center;
    }
  }

}

@media screen and (max-width: 860px) {
  .home-news-block{
    width: 100%;
  }
  .left-tabs-list li:before{
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .home-footer-block{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .home-footer .container-content{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .home-footer .home-footer-left {
    display: none;
  }
  .home-footer .home-footer-left,.home-footer .home-footer-right,.home-footer .home-footer-right .home-footer-block:nth-child(2){
    width: 100%;
  }
  .title-img .title-img-text,.title-img.panel-protection .title-img-text {
    padding-left: 105px;
    width: 100%;
    h1{
      font-size: 36px;
      text-align: center;
    }
  }
  .home-slider .one-slider-info .page-title{
    padding: 53px 0 53px 105px;
    width: 100%;
  }
  .ap_al-baners .ap_al-baner-package{
    margin: 0 0 25px;
  }
  .ap_al-baners .ap_al-baner-question{
    margin-left: 0;
  }
  .advantages-company-list li{
    width: 50%;
  }
  .ht-system-list{
    flex-wrap: wrap;
    li{
      width: 33.333%;
      margin-bottom: 25px;
      &:after{
        display: none;
      }
    }
  }
  .page-vacancies-form-btn button {
    width: 260px;
    &:after{
      display: none;
    }
  }
  .page-vacancies-form{
    padding: 50px 15px 50px ;
  }
  .page-vacancies-form-name{
    margin-bottom: 10px;
  }
  .page-vacancies-form-row{
    flex-direction: column;
    align-items: flex-start;
  }
  .questions-remain-inputs{
    margin-right: 0;
  }
  .questions-remain-textarea{
    width: 393px;
    margin-right: 0;
  }.home-footer-left
  .questions-remain-field{
    flex-direction: column;
    align-items: center;
  }
  .pagination ul li{
    margin: 0 3px;
  }
  .title-img img{
    min-height: 200px;
  }
  .header-logo{
   left:5px;
  }
  .home-slider .one-slider-img img{
    min-height: 250px;
  }
  .home-slider .one-slider-info{
    height: calc(100% - 42px);
    transform: translate(-50%,calc(50% + 21px));
    p{
      display: none;
    }
    a{
      display: none;
    }
    .page-title{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

  .container-full{
    max-width: 100%;
  }
  .trust-us .container-content{
    flex-direction: column;
  }
  .trust-us-block{
    margin-bottom: 50px;
    &:last-child{
      margin-bottom: 0;
    }
  }

}
@media screen and (max-width: 720px) {
  .tooltip-inner {
    max-width: 200px;
  }
  .page-stock img {
    float: left;
    width: 50%;
    min-width: 50%;
    max-width: 540px;
    height: auto;
    margin-right: 47px;
  }
  .find-cost-form{
    width: calc(100% - 20px);
  }
  .operating-procedure{
    padding-bottom: 50px;
    height: auto;
  }
  .apartment-alarm{
    margin-bottom: 0;
  }
  .apartment-alarm-description{
    margin-right: 0;
  }
  .apartment-alarm-block-info{
    flex-direction: column;
    align-items: center;
  }
  .ap_al-baners .container-1470{
    flex-direction: column;
    align-items: center;
  }
  .page-vacancies-info .container-content{
    width: 100%;
  }
  .for-clients-list ul{
    column-count: 1;
    li{
      width: 100%;
    }
  }
  .page-galery-list{
    width: 100%;
    max-width: 544px;
  }
  .action-baners .action-baner-title{
    text-align: center;
  }
  .action-baners .container-full{
    padding: 0 15px;
  }
  .action-baners .action-baner{
    width: 100%;
    height: 225px;
  }
  .action-baners .action-baner-content {
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  .prise-list-table{
    width: 100%;
    overflow-x: scroll;
  }
  .prise-list-table table{
    min-width: 700px;
  }
  .left-tabs-list,.left-tabs-content{
    width: calc(100% - 30px);
  }

  .main-menu {
    width: 100%;
  }
  .panel-menu{
    width: 320px;
  }
  .home-tabs-list{
    width: 100%;
    max-width: 100%;
  }
  .find-cost .container-content{
    width: 100% !important;
  }
  .home-baner_info-block{
    width: 50%;
  }
  .home-baner_info .container-full{
    width: 100%;
  }
}

@media screen and (max-width: 600px){
  .main-menu{
    height: auto;
  }
  .page-stock-btn a{
    float: none;
    margin: 20px auto;
  }
  .page-stock img{
    float: none;
    min-width: 100%;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .operating-procedure-box ul li{
    line-height: 18px;
    margin-bottom: 25px;
    &:before{
      display: none;
    }
  }
  .operating-procedure-box{
    width: 100%;
    height: auto;
    padding-bottom: 21px;
  }
  .operating-procedure .container-1470{
    padding: 0 10px;
  }
  .ap_al-baners .ap_al-baner-question a{
    width: 230px;
    font-size: 11px;
  }
  .ap_al-baners .container-1470{
    padding: 0 10px;
  }
  .ap_al-baners .ap_al-baner-question{
    width: 100%;
  }
  .advantages-company-list li{
    width: 100%;
    margin-bottom: 25px;
  }
  .ht-system-list li{
   width: 50%;
  }
  .apartment-alarm-home_info{
    width: auto;
  }
  .ap_al-baners .ap_al-baners-bg {
display: none;
  }
  .ap_al-baners .container-1470{
    padding-top: 0;
  }
  .apartment-alarm-home_img span{
    font-size: 11px;
    line-height: 20px;
    width: 20px;
    height: 20px;
  }
  .page-promotions-info {
    padding: 30px 15px 1px;
  }
  .page-promotions-city-name:before{
    display: none;
  }
  .page-promotions-city-address,.page-promotions-city-email{
    width: 100%;
  }
  .questions-remain-inputs,.questions-remain-textarea {
    width: 90%;
    max-width:393px ;
  }
  .page-promotions-info .block-top{
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  .page-promotions-city-email{
    margin-bottom: 17px;
  }
  .page-promotions-city{
    width: 100%;
  }
  .page-stock-img{
    min-width: auto;
    height: auto;

  }
  .page-galery-list{
    width: 272px;
  }
  .title-img-text i{
    display: none;
  }
  .copyrighted .container-full{
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
    text-align: center;
  }
  .home-tabs-list li{
    width: 50%;
    a{
      padding: 0;
    }
  }
  .home-slider .one-slider-info .page-title{
    text-align: center;
    font-size: 30px;
    i{
      display: none;
    }
  }
  .home-slider .one-slider-info{
    padding: 0;
  }

  .main-menu-dop{
    width: 100%;
    height: 300px!important;
    overflow: scroll;
    padding: 10px 0;
    z-index: 1;
  }
  .main-menu-dop li a{
    font-size: 12px!important;
    line-height: 12px!important;
    width: 135px;
  }
  .main-menu ul li.active{
    border-color: #2d2d2d!important;
  }
  .main-menu ul{
    flex-wrap: wrap;
    justify-content: center;
    li{
      width: 25%;
      height: 100px;
      border: 1px solid #e4e4e4!important;
    }
  }
  //.main-menu li i{
  //  bottom: 50%;
  //  transform: translate(-50%,50%);
  //}
  .main-menu li:last-child{
    border-right: 1px solid #e4e4e4;
  }
}

@media screen and (max-width: 425px){
  .main-menu ul li{
      width: 33.333333333%;
    }
  .find-cost-main{
    height: auto;
  }
  .modal .modal-dialog{
    width: 360px;
  }
  .prise-list-select,.prise-list-select .select__gap{
    width: 100%;
  }
  .apartment-alarm-block-info{
    width: 100%;
  }
  .apartment-alarm .container-1470{
    padding: 0 10px;
  }
  .apartment-alarm-description{
    width: 100%;
  }
  .ap_al-baners .ap_al-baner-package{
    width: 100%   ;
    background-image: none;
  }
  .header-options-call_back p{
    display: none;
  }
  .header-options-call_back i{
    margin-right: 0;
  }
  .home-reviews .home-review {
    margin: 0 10px 40px;
  }
  .home-reviews .home-review{
    padding: 38px 10px ;
  }
  .home-baner_info-block img{
    width: 38%;
  }
  .home-baner_info-num{
    font-size: 36px;
  }
  .home-baner_info-name{
    font-size: 12px;
    line-height: 24px;
  }
  .home-baner_info-block{
    padding-top: 65px;
  }
}
@media screen and (max-width: 375px){
  .modal .modal-dialog{
    width: 300px;
  }
  .pagination ul li a{
    line-height: 39px;
  }
  .pagination ul li{
    width: 39px;
    height: 39px;
  }
  .home-news-content{
    width: 100%;
    margin-left: 0;
  }
  .home-news-img {
    height: 190px;
  }
}