
<footer class="home-footer parallax-window" >

    <div class="parallax-footer-logo"><img src="./img/footer-logo.png" alt=""></div>
    <div class="container-content">
        <div class="home-footer-left">
            <div class="home-footer-block">
                <div class="home-footer-title">Услуги</div>
                <div class="home-footer-dop_list">
                    <p><a href="#">Системы контроля</a></p>
                    <ul>
                        <li><a href="#">Cистемы видеонаблюдения</a></li>
                        <li><a href="#">Cистемы контроля доступа</a></li>
                    </ul>
                </div>
                <div class="home-footer-dop_list">
                    <p><a href="#">Физическая охрана</a></p>
                    <ul>
                        <li><a href="#">Телохранители</a></li>
                        <li><a href="#">Сопровождение груза</a></li>
                    </ul>
                </div>
                <div class="home-footer-dop_list">
                    <p><a href="#">Пультовая охрана</a></p>
                    <ul>
                        <li><a href="#">Охранная сигнализация квартиры</a></li>
                        <li><a href="#">Охранная сигнализация дома</a></li>
                    </ul>
                </div>
            </div>
            <div class="home-footer-block">
                <div class="obg-block">
                    <div class="home-footer-title">О компании</div>
                    <ul class="home-footer-list">
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">История развития</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Работа</a></li>
                    </ul>
                </div>
            </div>
        </div>
            <!--<div class="home-footer-logo">-->
                <!--<a href="index.html"> <img src="./img/footer-logo.png" alt="logo"></a>-->
            <!--</div>-->
        <div class="home-footer-right">
            <div class="home-footer-block">
                <div class="home-footer-title">Клиентам</div>
                <ul class="home-footer-list">
                    <li><a href="#">Цены</a></li>
                    <li><a href="#">Документи для договоров</a></li>
                    <li><a href="#">Типовые договора</a></li>
                    <li><a href="#">Оплата</a></li>
                    <li><a href="#">Как выбрать охранную <br>компанию</a></li>
                </ul>
            </div>
            <div class="home-footer-block">
                <div class="home-footer-contact">
                    <div class="home-footer-title">Контакты</div>
                    <div class="home-footer-phone">
                        <i class="icon-call-answer"></i>
                        <p><a href="tel:0445800800"><span>044 </span>5-800-800</a></p>
                        <p><a href="tel:0673702222"><span>067 </span>370-22-22</a></p>
                    </div>
                    <div class="home-footer-address">
                        <i><img src="./img/iconef.png" alt=""></i>
                        <p>пр-т Голосеевский, 93, офис 652, <br>г.Киев, Украина, индекс 03127</p>
                    </div>
                </div>
                <div class="home-footer-social">
                    <p>Мы в соцсетях </p>
                    <a href="https://uk-ua.facebook.com/" target="_blank"><i class="icon-facebook-logo-in-circular-button-outlined-social-symbol"></i></a>
                    <a href="https://google.com/" target="_blank"><i class="icon-google-plus-circular-button"></i></a>
                </div>
                <div class="home-footer-QR">
                    <p>QR-код</p>
                    <img src="./img/footer-QR.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyrighted">
    <div class="container-full">
        <div class="copyrighted-left">© 2018 Группа компаний “Орлан”. Все права защишены.</div>
        <div class="copyrighted-right">Crieted by <span>INDIGO</span></div>
    </div>
</div>

