<div class="modal fade" id="popups-call-back" tabindex="-1" role="dialog" aria-labelledby="popups-call-back-Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon-close"></span></button>
                    <h4 class="modal-title" id="popups-call-back-Label">Заказать звонок</h4>
                    <img src="./img/header-logo.png" alt="">
                </div>
                <div class="modal-body">
                    <div class="block-input">
                        <input type="text" name="name" placeholder="Ф.И.О" required>
                    </div>
                    <div class="block-input">
                        <input type="text" name="phone" placeholder="Ваш телефон" required  >
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit">Заказать</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="popups-application" tabindex="-1" role="dialog" aria-labelledby="popups-application-Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon-close"></span></button>
                    <h4 class="modal-title" id="popups-application-Label">Оставить заявку</h4>
                    <img src="./img/header-logo.png" alt="">
                </div>
                <div class="modal-body">
                    <div class="block-input">
                        <input type="text" name="name" placeholder="Ф.И.О" required>
                    </div>
                    <div class="block-input">
                        <input class="phone" type="text" name="phone" placeholder="Ваш телефон" required  >
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="popups-galery" tabindex="-1" role="dialog" aria-labelledby="popups-galery-Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon-close"></span></button>-->
                <!--</div>-->
                <div class="modal-body">

                </div>
        </div>
    </div>
</div>
<div class="footer-bg"><img src="./img/bg-footer.jpg" alt=""></div>
<script src="js/libs.js"></script>

<script src="js/app.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbBJylV7czEp-mYp44dPWd7JmoD2Lk3rQ&callback" type="text/javascript"></script>