<div class="panel-menu">
    <div class="panel-menu-top">
        <div class="panel-menu-close"><i class="icon-close"></i></div>
    </div>
    <div class="panel-menu-list">
        <ul>
            <li><a href="index.html">Главная</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="price-list.html">Цены</a></li>
            <li><a href="galery.html">Галерея</a></li>
            <li><a href="promotions.html">Акции</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="contacts.html">Контакты</a></li>
            <li><a href="vacancies.html">Вакансии</a></li>
        </ul>
    </div>
</div>