<div class="main-menu">
    <ul class="main-menu-list">
        <li class="active"><a href="index.html">Главная<i class="icon-web-home"></i></a>
            <ul class="main-menu-dop">
                <li><a href="#"><i class="icon-web-home"></i><span>Охрана складов Охрана складов</span></a></li>
                <li>
                    <a href="#">
                        <i class="icon-dop-normal"><img src="./img/icon-dom-normal.png" alt=""></i>
                        <i class="icon-dop-hover"><img src="./img/icon-dom-hover.png" alt=""></i>
                        <span>Охрана складов</span>
                    </a>
                </li>
                <li><a href="#"><span>Охрана складов</span></a></li>
                <li><a href="#"><span>Охрана складов</span></a></li>
                <li><a href="#"><span>Охрана складов</span></a></li>
                <li><a href="#"><span>Охрана складов</span></a></li>
                <li><a href="#"><span>Охрана складов</span></a></li>
                <li><a href="#"><span>Охрана складов</span></a></li>
                <li><a href="#"><span>Охрана складов</span></a></li>
                <li><a href="#"><span>Охрана складов</span></a></li>
                <li><a href="#"><span>Охрана складов</span></a></li>
                <li><a href="#"><span>Охрана складов</span></a></li>
                <li><a href="#"><span>Охрана складов</span></a></li>
                <li><a href="#"><span>Охрана складов</span></a></li>
                <li><a href="#"><span>Охрана складов</span></a></li>
                <li><a href="#"><span>Охрана складов</span></a></li>
                <li><a href="#"><span>Охрана складов</span></a></li>
                <li><a href="#"><span>Охрана складов</span></a></li>
                <li><a href="#"><span>Охрана складов</span></a></li>
                <li><a href="#"><span>Охрана складов</span></a></li>
            </ul>
        </li>
        <li><a href="panel-protection.html">Пультовая охрана<i class="icon-remote-control"></i></a></li>
        <li><a href="apartment-alarm.html">Физическая охрана<i class="icon-shield-1"></i></a></li>
        <li><a href="#">Cистемы контроля<i class="icon-cctv"></i></a></li>
        <li><a href="for-clients.html">Клиентам<i class="icon-info"></i></a></li>
        <li><a href="#">Работы<i class="icon-team"></i></a></li>
        <li><a href="contacts.html">Контакты<i class="icon-map-1"></i></a></li>
    </ul>
</div>